<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app"
    android:targetSandboxVersion="2">

    <dist:module dist:instant="true" />

    <application
        android:name=".Application"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name="com.example.app.mvi.view.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="example.com"
                    android:pathPrefix="/main"
                    android:scheme="http" />

                <data android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>